@import 'base';
@import 'jquery-ui';

body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 100vh;
}

//Main container
.all-content-box {
	flex: 1;
	overflow: hidden;
}

//Header
header {
	.logo {

	}
	nav {

	}
	.search {

	}
}

//Footer
footer {

}

//Style selector
.style-selector {
	position: fixed;
	top: -50%;
	left: -201px;
	width: 200px;
	padding: 15px 15px 0 15px;
	z-index: 100;
	@include border-radius(0 10px 10px 0);
	@include transition(600ms all ease);
	&.active {
		left: 0;
		@include box-shadow(0 1px 16px 0 rgba(0, 0, 0, 0.4));
	}
	.trigger {
		font-size: 1.3em;
		position: absolute;
		top: 42px;
		left: 201px;
		padding: 10px;
		cursor: pointer;
		@include border-radius(0 10px 10px 0);
		@include box-shadow(0 0 0 1px $grey);
		i {
			@include transition();
		}
		&:hover, &:active, &:focus {
			i {
				@include rotate(90deg);
			}
		}
		&.hide {
			i {
				@include rotate(180deg);
			}
			&:hover, &:active, &:focus {
				i {
					@include rotate(360deg);
				}
			}
		}
	}
	h2 {
		text-transform: uppercase;
		text-align: center;
		color: #26323c;
	}
	h3 {
		color: #26323c;
		text-align: center;
		margin-bottom: 15px;
	}
	hr {
		display: block;
		border: none;
		height: 1px;
		background: $grey;
		position: relative;
		margin: 15px 0;
		overflow: hidden;
		&:before {
			content: "";
			display: block;
			width: 100%;;
			height: 1px;
			background: $grey;
			position: absolute;
			top: 0;
			left: -100%
		}
		&:after {
			content: "";
			display: block;
			width: 100%;;
			height: 1px;
			background: $grey;
			position: absolute;
			top: 0;
			right: -100%
		}
	}
	.colors {
		width: 100%;
		height: 30px;
		cursor: pointer;
		position: relative;
		float: left;
		margin-bottom: 15px;
		.color {
			width: 100%;
			height: 30px;
			@include box-shadow(inset 0 1px 2px 1px rgba(0, 0, 0, 0.1));
			@include border-radius(10px);
			@include transition();
			&:hover {
				opacity: 0.6;
			}
		}
		.colorSelector {
			position: absolute;
			top: 100%;
			width: 380px;
			background: $white;
			@include border-radius(10px);
			display: none;
			padding: 10px;
			@include box-shadow(0 1px 20px 5px rgba(0, 0, 0, 0.1));
			z-index: 1;
		}
	}
}

.colorpicker {
	width: 100%;
	height: 150px;
	overflow: hidden;
	position: absolute;
	background: url(../../images/colorpicker/slider.png) no-repeat 174px 0;
	background-size: contain;
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	margin-bottom: 12px;
	input {
		background-color: transparent;
		border: 1px solid transparent;
		position: absolute;
		color: $white;
		right: 11px;
		text-align: right;
		margin: 0;
		padding: 0;
		height: 22px;
	}
}

.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 4px;
	top: 0;
	position: absolute;
	background: #ff0000;
	overflow: hidden;
	cursor: crosshair;
	div {
		position: absolute;
		top: 0;
		left: 0;
		width: 150px;
		height: 150px;
		background: url(../../images/colorpicker/colorpicker_overlay.png);
		div {
			position: absolute;
			top: 0;
			left: 0;
			width: 11px;
			height: 11px;
			overflow: hidden;
			background: url(../../images/colorpicker/colorpicker_select.gif);
			margin: -5px 0 0 -5px;
		}
	}
}

.colorpicker_hue {
	position: absolute;
	top: 0;
	left: 164px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
	div {
		position: absolute;
		width: 35px;
		height: 9px;
		overflow: hidden;
		background: url(../../images/colorpicker/custom_indic.gif) left top;
		margin: -4px 0 0 0;
		left: 0px;
	}
}

.colorpicker_new_color {
	position: absolute;
	width: 70px;
	height: 30px;
	left: 209px;
	top: 0;
	background: #ff0000;
	@include border-radius(2px);
}

.colorpicker_current_color {
	position: absolute;
	width: 70px;
	height: 30px;
	left: 290px;
	top: 0;
	background: #ff0000;
	@include border-radius(2px);
}

.colorpicker_hex {
	&:before {
		content: "#";
		color: $white;
		margin-left: 6px;
		line-height: 22px;
	}
	background: $grey;
	position: absolute;
	width: 72px;
	height: 22px;
	left: 209px;
	top: 129px;
	@include border-radius(2px);
	input {
		right: 6px;
	}
}

.colorpicker_field {
	height: 22px;
	width: 70px;
	background: $grey;
	position: absolute;
	@include border-radius(2px);
	&:before {
		content: "";
		color: $white;
		margin-left: 6px;
		line-height: 22px;
	}
	span {
		position: absolute;
		width: 12px;
		height: 22px;
		overflow: hidden;
		top: 0;
		right: 0;
		cursor: n-resize;
	}
}

.colorpicker_rgb_r {
	&:before {
		content: "R";
	}
	top: 39px;
	left: 209px;
}

.colorpicker_rgb_g {
	&:before {
		content: "G";
	}
	top: 69px;
	left: 209px;
}

.colorpicker_rgb_b {
	&:before {
		content: "B";
	}
	top: 99px;
	left: 209px;
}

.colorpicker_hsb_h {
	&:before {
		content: "H";
	}
	top: 39px;
	left: 290px;
}

.colorpicker_hsb_s {
	&:before {
		content: "S";
	}
	top: 69px;
	left: 290px;
}

.colorpicker_hsb_b {
	&:before {
		content: "B";
	}
	top: 99px;
	left: 290px;
}

.colorpicker_submit {
	line-height: 22px;
	height: 22px;
	width: 70px;
	background: $grey;
	position: absolute;
	@include border-radius(2px);
	top: 128px;
	left: 290px;
	text-align: center;
	color: $white;
	&:before {
		content: "Save";
	}
}

.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}

.colorpicker_slider {
	background-position: bottom;
}

//page-home-products
.page-home-products {
	padding: 90px 0;
	.items {
		display: flex;
		flex-wrap: wrap;
		.item {
			display: flex;
		}
	}
}

//archive-shop-item
.archive-product-item {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px;
	@include transition();
	.image {
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.text {
		flex: 1;
		h3 {
			font-size: 2em;
			line-height: 1.2em;
		}
		.price {
			font-size: 2em;
			line-height: 1.2em;
			margin-bottom: 30px;
			del {
				font-size: 0.6em;
				display: block;
				opacity: 0.5;
			}
			ins {
				font-weight: 400;
				display: block;
				background-color: transparent;
			}
		}
	}
	.btn {
		align-self: flex-end;
	}
}

//Woocommerce
.woocommerce {
	#respond input#submit, a.button, button.button, input.button {
		font-size: 1.5em;
		font-weight: 400;
		line-height: 48px;
		color: $white;
		background-color: $blue-light;
		padding: 0 1.5em;
		@include border-radius(0);
		@include transition();
		@include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.3));
		&:hover, &:active, &:focus {
			color: $white;
			background-color: $orange;
			@include box-shadow(0 1px 8px 0 rgba(0, 0, 0, 0.3));
		}
		&:active {
			@include scale(1.1);
		}
	}
	ul.products li.product .woocommerce-loop-category__title, ul.products li.product .woocommerce-loop-product__title, ul.products li.product h3 {
		font-size: 2em;
		line-height: 1.2em;
		padding: 0;
		margin-bottom: 15px;
	}
	figure {
		margin: 0;
	}
	.products .star-rating {
		font-size: 1.5em;
		color: $yellow;
	}
	div.product form.cart .variations {
		font-size: 1.2em;
		color: $black;
		label {
			line-height: 1.2em;
			padding: 15px 0;
			display: inline-block;
		}
	}
	.woocommerce-variation-price {
		margin-bottom: 15px;
	}
	div.product p.price {
		margin-bottom: 15px;
	}
	div.product div.images {
		margin-bottom: 60px;
	}
	div.product div.summary {
		margin-bottom: 60px;
	}
	div.product form.cart .reset_variations {
		font-size: 1.2em;
		color: $black;
	}
	.star-rating {
		font-size: 1.5em;
		color: $yellow;
	}
	ul.products li.product {
		display: flex;
		a.woocommerce-LoopProduct-link {
			flex: 1;
		}
		.article {
			display: flex;
			flex-direction: column;
			padding: 20px;
			@include transition();
		}
		.star-rating {
			font-size: 1.5em;
			margin-bottom: 15px;
		}
		a.woocommerce-LoopProduct-link {
			color: $black;
			@include transition();
			&:hover, &:active, &:focus {
				color: $blue;
			}
		}
		.price {
			font-size: 2em;
			line-height: 1.2em;
			color: $blue-light;
			margin-bottom: 30px;
			del {
				font-size: 0.6em;
				color: $red;
			}
			ins {
				font-weight: 400;
				color: $blue-light;
			}
		}
		.button {
			float: right;
			margin-top: 0;
			align-self: flex-end;
		}
		.onsale {
			top: -5px;
			right: 5px;
		}
	}
	.products ul, ul.products {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px 30px -15px;
	}
	.woocommerce-ordering, .woocommerce-result-count {
		margin: 0 0 30px 0;
		.input-field {
			position: relative;
			i {
				font-size: 2em;
				line-height: 48px;
				text-align: center;
				position: absolute;
				top: 0;
				right: 0;
				width: 48px;
				height: 48px;
				cursor: text;
			}
			&.big-select {
				.ui-selectmenu-button {
					width: 200px !important;
					border: none;
					@include border-radius(0);
					background-color: transparent;
					position: relative;
					z-index: 1;
					span {
						&.ui-selectmenu-text {
							padding: 0 10px;
							color: rgba(0, 0, 0, 0.5);
						}
						&.ui-icon {
							display: none;
						}
					}
				}
				.loading {
					position: relative;
					top: 4px;
					display: block;
					width: 162px;
					text-align: center;
					em {
						display: inline-block;
						width: 40px;
						height: 40px;
						border-top: 4px solid $grey-light;
						border-right: 4px solid $grey-light;
						border-bottom: 4px solid $grey-light;
						border-left: 4px solid transparent;
						@include border-radius(100%);
						@include animation(spinner-1 2s infinite linear);
					}
				}
			}
		}
	}
	.woocommerce-result-count {
		font-size: 1.5em;
		line-height: 1.2em;
		padding: 13px 0;
	}
	.page-title {
		font-size: 3em;
		line-height: 1.2em;
	}
	#respond input#submit.disabled, #respond input#submit:disabled, #respond input#submit:disabled[disabled], a.button.disabled, a.button:disabled, a.button:disabled[disabled], button.button.disabled, button.button:disabled, button.button:disabled[disabled], input.button.disabled, input.button:disabled, input.button:disabled[disabled] {
		padding: 0 1.5em;
	}
	span.onsale {
		padding: 0;
		background-color: $orange;
	}
	nav.woocommerce-pagination ul {
		border: none;
		font-size: 2em;
		li {
			border: none;
			margin: 0 1px;
			@include border-radius(5px);
			a, span {
				color: white;
				background-color: $blue;
				@include transition();
				&:hover, &:active, &:focus, &.current {
					color: $white;
					background-color: $orange;
				}
			}
		}
	}
	div.product {
		.product_title {
			font-size: 3em;
			line-height: 1.2em;
			margin-bottom: 15px;
		}
		.woocommerce-product-rating {
			font-size: 1.5em;
			line-height: 1.2em;
			margin-bottom: 15px;
			.star-rating {
				margin: 0 10px 0 0;
			}
			.woocommerce-review-link {
				line-height: 1.6em;
				color: $black;
				&:hover, &:active, &:focus {
					color: $orange;
				}
			}
		}
		p.price, span.price {
			font-size: 2em;
			line-height: 1.2em;
			color: $blue-light;
			del {
				font-size: 0.6em;
				color: $red;
			}
			ins {
				font-weight: 400;
				color: $blue-light;
			}
		}
		.woocommerce-product-details__short-description {
			font-size: 1.2em;
			line-height: 1.2em;
			margin-bottom: 15px;
		}
		.quantity .qty {
			font-size: 1.5em;
		}
		#respond input#submit.alt, a.button.alt, button.button.alt, input.button.alt {
			background-color: $blue-light;
			&:hover, &:active, &:focus {
				background-color: $orange;
			}
		}
		.product_meta {
			font-size: 1.2em;
			line-height: 1.2em;
			a {
				color: $black;
				@include transition();
				&:hover, &:active, &:focus {
					color: $orange;
				}
			}
		}
		.woocommerce-tabs {
			ul.tabs {
				display: flex;
				padding: 0;
				margin: 0;
				&:before, &:after {
					display: none;
				}
				li {
					font-size: 1.7em;
					padding: 0;
					margin: 0;
					border: none;
					background-color: transparent;
					&:before, &:after {
						display: none;
					}
					&:first-of-type {
						a {
							@include border-radius(10px 0 0 0);
						}
					}
					&:last-of-type {
						a {
							@include border-radius(0 10px 0 0);
						}
					}
					&.active {
						a {
							color: $white;
							background-color: $blue;
							padding: 1em 1.5em;
							margin-top: 0;
							@include border-radius(10px 10px 0 0);
						}
					}
					a {
						font-weight: 400;
						line-height: 1.2em;
						display: block;
						padding: 0.7em 1.5em;
						margin-top: 12px;
						color: $white;
						background-color: $red;
						@include transition();
						&:hover, &:active, &:focus {
							color: $white;
							background-color: $blue;
						}
					}
				}
			}
			.panel {
				font-size: 1.2em;
				line-height: 1.2em;
				color: $white;
				padding: 30px;
				background-color: $blue;
				> h2 {
					font-size: 1.7em;
					margin-bottom: 15px;
				}
			}
		}
	}
	#reviews {
		.woocommerce-Reviews-title {
			font-size: 1.2em;
			line-height: 1.2em;
			margin-bottom: 15px;
		}
		#comments ol.commentlist li {
			img.avatar {
				padding: 0;
				border: 0;
				width: 60px;
				@include border-radius(10px);
			}
			.comment-text {
				margin: 0 0 0 80px;
				@include border-radius(10px);
				.meta {
					font-size: 1em;
					color: $white;
					strong {
						font-weight: 400;
					}
				}
			}
		}
	}
	p.stars a {
		color: $yellow;
	}
	#review_form {
		.comment-reply-title {
			font-size: 1.5em;
			display: block;
			margin-bottom: 15px;
		}
		.comment-form-rating, .comment-form-comment {
			label {
				font-size: 1.2em;
				display: inline-block;
				margin-bottom: 10px;
			}
			.stars {
				display: inline-block;
			}
		}
		textarea {
			max-width: 100%;
			border: none;
			padding: 10px;
			color: $black;
		}
	}
	.related {
		> h2 {
			font-size: 2em;
			line-height: 1.2em;
			margin-bottom: 15px;
		}
		ul.products li.product {
			width: 50%;
		}
	}
	.woocommerce-cart-form {
		input[type=submit] {
			height: 48px;
			&:disabled {
				color: $white;
			}
		}
	}
	&.widget {
		.caption {
			padding: 0;
		}
		.product_list_widget {
			> li {
				margin-bottom: 5px;
				> a {
					font-size: 1.2em;
					line-height: 1.2em;
					margin-bottom: 5px;
				}
				.star-rating {
					color: $yellow;
					margin-bottom: 5px;
				}
			}
		}
		.product-categories {
			font-size: 1.5em;
			line-height: 1.2em;
			li {
				margin-top: 10px;
			}
		}
		.wc-layered-nav-term {
			font-size: 1.5em;
			line-height: 1.2em;
			margin-bottom: 10px;
		}
		&.widget_product_search {
			label {
				font-size: 1.5em;
				line-height: 1.2em;
				display: block;
				margin-bottom: 10px;
			}
			input[type=search] {
				font-size: 1.5em;
				padding: 0 10px;
				margin-bottom: 10px;
			}
			input[type=submit] {
				font-size: 1.5em;
				font-weight: 400;
				line-height: 48px;
				color: $white;
				background-color: $blue-light;
				padding: 2px 1.5em;
				border: none;
				@include transition();
				&:hover, &:active, &:focus {
					background-color: $orange;
				}
			}
		}
	}
	.widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {
		padding: 10px 0;
	}
	.widget_price_filter {
		.price_slider_wrapper .ui-widget-content {
			background-color: transparent;
			border: 1px solid $blue-light;
		}
		.ui-slider .ui-slider-handle {
			background-color: $blue-light;
			top: -11px;
			width: 28px;
			height: 28px;
			border: none;
			@include border-radius(100%);
			@include box-shadow(0 1px 6px 0 rgba(0, 0, 0, 0.3));
			&:hover, &:active, &:focus {
				background-color: $orange;
			}
		}
		.ui-slider-horizontal {
			height: 7px;
		}
		.ui-slider .ui-slider-range {
			background-color: $blue-light;
		}
		.price_slider {
			margin-bottom: 30px;
		}
		.price_label {
			font-size: 2em;

		}
	}
	#respond input#submit.alt, a.button.alt, button.button.alt, input.button.alt {
		background-color: $blue-light;
		&:hover, &:active, &:focus {
			background-color: $orange;
		}
	}
	.woocommerce-ordering select {
		font-size: 1.5em;
		padding: 0 10px;
	}
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	margin: 0 0 30px 0;
	padding: 0 15px;
	position: relative;
	width: 33.3333333%;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
	padding: 0;
	background-color: $blue-light;
	&:hover, &:active, &:focus {
		background-color: $orange;
	}
}

#add_payment_method #payment ul.payment_methods li input, .woocommerce-cart #payment ul.payment_methods li input, .woocommerce-checkout #payment ul.payment_methods li input {
	@include box-shadow(0 0 0 0 transparent);
}

//bbPress
#bbpress-forums {
	a {
		color: $red;
		@include transition();
		&:hover {
			color: $black;
		}
	}
	.bbp-forums, .bbp-topics {
		li {
			&.bbp-header {
				font-size: 1.5em;
				font-weight: 400;
				line-height: 1.2em;
				padding: 20px;
			}
			&.bbp-body {
				font-size: 1.5em;
				font-weight: 400;
				line-height: 1.2em;
				ul.forum, ul.topic {
					padding: 20px;
				}
			}
			&.bbp-footer {
				padding: 20px;
			}
		}
		.bbp-forums-list {
			li {
				font-size: 0.8em;
				line-height: 1.2em;
				display: block;
				margin-bottom: 5px;
			}
		}
	}
	.bbp-forum-info .bbp-forum-content, p.bbp-topic-meta {
		font-size: 0.7em;
		line-height: 1.2em;
		margin-bottom: 15px;
	}
	div.bbp-breadcrumb {
		font-size: 1.2em;
		line-height: 1.2em;
		padding: 15px 0;
		margin-bottom: 30px;
		p {
			margin-bottom: 0;
		}
	}
	div.bbp-search-form {
		font-size: 1.2em;
		line-height: 1.2em;
		margin-bottom: 30px;
		input[type=text] {
			padding: 0 10px;
			vertical-align: middle;
			border: 1px solid rgba(0, 0, 0, 0.1);
		}
		input[type=submit], button[type=submit] {
			font-size: 1.5em;
			line-height: 48px;
			display: inline-block;
			vertical-align: middle;
			border: none;
			padding: 0 1.5em;
			background-color: $blue-light;
			color: $white;
			@include transition();
			&:hover, &:active, &:focus {
				background-color: $orange;
			}
		}
	}
	p.bbp-topic-meta img.avatar, ul.bbp-reply-revision-log img.avatar, ul.bbp-topic-revision-log img.avatar, div.bbp-template-notice img.avatar, .widget_display_topics img.avatar, .widget_display_replies img.avatar {
		margin-bottom: -3px;
	}
	fieldset.bbp-form {
		label {
			font-size: 1.2em;
			line-height: 1.2em;
			margin-bottom: 5px;
		}
		input[type=text], select {
			font-size: 1.2em;
			padding: 0 10px;
			margin-bottom: 15px;
			border: 1px solid rgba(0, 0, 0, 0.1);
		}
		input[type=submit], button[type=submit] {
			font-size: 1.5em;
			line-height: 48px;
			display: inline-block;
			vertical-align: middle;
			border: none;
			padding: 0 1.5em;
			background-color: $blue-light;
			color: $white;
			@include transition();
			&:hover, &:active, &:focus {
				background-color: $orange;
			}
		}
		textarea {
			font-size: 1.2em;
			padding: 10px;
			margin-bottom: 15px;
			border: 1px solid rgba(0, 0, 0, 0.1);
		}
	}
}

//BoddyPress
#buddypress {
	font-size: 1.2em;
	line-height: 1.2em;
	a {
		color: $red;
		@include transition();
		&:hover {
			color: $black;
		}
	}
	label {
		font-size: 1.2em;
		line-height: 1.2em;
		margin-bottom: 5px;
	}
	input[type=text], select {
		font-size: 1.2em;
		padding: 0 10px;
		margin-bottom: 15px;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
	input[type=submit], button[type=submit], button[type=button] {
		font-size: 1.5em;
		font-style: normal;
		line-height: 48px;
		display: inline-block;
		vertical-align: middle;
		border: none;
		padding: 0 1.5em;
		background-color: $blue-light;
		color: $white;
		@include transition();
		&:hover, &:active, &:focus {
			border: none;
			background-color: $orange;
			color: $white;
		}
	}
	textarea {
		font-size: 1.2em;
		padding: 10px;
		margin-bottom: 15px;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
	div.dir-search {
		margin: 0;
		input[type=text] {
			font-size: 1.2em;
			display: inline-block;
			vertical-align: middle;
			padding: 0 10px;
			margin: 0;
		}
	}
	li.groups-members-search input[type=text] {
		font-size: 1.2em;
		display: inline-block;
		vertical-align: middle;
		padding: 0 10px;
	}
	.standard-form .field-visibility-settings label {
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 0.5em;
	}
	h2 {
		font-size: 2em;
		line-height: 1.2em;
	}
}